{% load static %}
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/ol@v7.4.0/dist/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.4.0/ol.css">
    <meta charset="utf-8" />
    <title>Map</title>

  </head>
  <body>
    
    <div id="map" style="height: 95vh">
      <div id="popup"></div>
    </div>

    <div class="form-check form-switch fs-3" style="margin-top:5px">
      <label class="form-check-label" for="hideDots">
        Hide extra dots
      </label>
      <input class="form-check-input" type="checkbox" role="switch" id="hideDots" onChange='{  
        if(this.checked == true){
          console.log("CHECKED!!!!!")
          var mapForm = document.createElement("form");
          //mapForm.target = "_blank";    
          mapForm.method = "POST";
          mapForm.action = "";
          // Create an input
          var mapInput = document.createElement("input");
          mapInput.type = "switch";
          mapInput.name = "hideDots";
          mapInput.value = "true";
          var mapInput2 = document.createElement("input")
          mapInput2.type = "hidden"
          mapInput2.name = "csrfmiddlewaretoken"          
          mapInput2.value = "{{ csrf_token }}"
          mapForm.appendChild(mapInput);
          // Add the input to the form
          mapForm.appendChild(mapInput2);
          // Add the form to dom
          document.body.appendChild(mapForm);
          // Just submit
          mapForm.submit();
        }else{
          console.log("NOT checked????") 
          var mapForm = document.createElement("form");
          //mapForm.target = "_blank";    
          mapForm.method = "POST";
          mapForm.action = "";
          // Create an input
          var mapInput = document.createElement("input");
          mapInput.type = "switch";
          mapInput.name = "hideDots";
          mapInput.value = "false";
          var mapInput2 = document.createElement("input")
          mapInput2.type = "hidden"
          mapInput2.name = "csrfmiddlewaretoken"          
          mapInput2.value = "{{ csrf_token }}"
          mapForm.appendChild(mapInput);
          // Add the input to the form
          mapForm.appendChild(mapInput2);
          // Add the form to dom
          document.body.appendChild(mapForm);
          // Just submit
          mapForm.submit();
        }
      }'
      {% if checked != None %} checked {% endif %} >
    </div>
  


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
      const endcoord = ol.proj.fromLonLat( [ {{ lastpoint.lon }} , {{ lastpoint.lat }} ] ) ; 
      const endIconFeature = new ol.Feature({
        geometry: new ol.geom.Point( endcoord ) ,
        name: "{{lastpoint.provider}} ({{lastpoint.accuracy}})<br>lon: {{lastpoint.lon}} lat: {{lastpoint.lat}}<br>" + 
          "alt: {{lastpoint.alt}} ({{lastpoint.vertical_accuracy}})<hr>" +
          '{{lastpoint.gps_date_time|date:"c"}}<br>' +
          "{{lastpoint.speed}} ({{lastpoint.speed_accuracy}}) m/s<br>" +
          "{{lastpoint.bearing}} ({{lastpoint.bearing_accuracy}}) &deg;"
        ,
      });
      const endIconStyle = new ol.style.Style({
        image: new ol.style.Icon({
          anchor: [0.5, 1.0],
          color: 'blue',
          anchorXUnits: 'fraction',
          anchorYUnits: 'fraction',
          src: "https://fonts.gstatic.com/s/i/materialiconsoutlined/location_on/v15/24px.svg" ,
        }),
      });
      endIconFeature.setStyle(endIconStyle);
      const endIconVectorSource = new ol.source.Vector({
        features: [endIconFeature],
      });
      const endIconVectorLayer = new ol.layer.Vector({
        source: endIconVectorSource,
      });

      const map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM(),
          }),
        ],
        view: new ol.View({
          center: endcoord,
          zoom: 14,
        }),
      });
      const gpsmarker = new ol.layer.Vector({  
        source: new ol.source.Vector({
          features: [ 
            {% for point in gpspoints %}
            new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.fromLonLat([ {{ point.lon }} , {{ point.lat }} ])),
              name: "{{point.provider}} ({{point.accuracy}})<br>lon: {{point.lon}} lat: {{point.lat}}<br>" + 
              "alt: {{point.alt}} ({{point.vertical_accuracy}})<hr>" +
              '{{point.gps_date_time|date:"c"}}<br>' +
              new Date('{{point.gps_date_time|date:"c"}}') + '<hr>'
              {% if point.speed %}
              + {{point.speed}}.toFixed(2) 
              {% if point.speed_accuracy %}
              + " (" + {{point.speed_accuracy}}.toFixed(2) + ")" 
              {% endif %} 
              + " m/s " + ({{point.speed}} * 3.6).toFixed(2) + " km/h <br>"
              {% endif %} 
              {% if point.bearing %}
              + "{{point.bearing}} ({{point.bearing_accuracy}}) &deg;"
              {% endif %}
              ,      
            }),
            {% endfor %}
          ],
        }),
        style: {
          'circle-radius': 4,
          'circle-fill-color': 'blue',
        },
      });

      const netwokmarker = new ol.layer.Vector({  
        source: new ol.source.Vector({
          features: [ 
            {% for point in networkpoints %}
            new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.fromLonLat([ {{ point.lon }} , {{ point.lat }} ])),
              name: "{{point.provider}} ({{point.accuracy}})<br>lon: {{point.lon}} lat: {{point.lat}}<br>" + 
              "alt: {{point.alt}} ({{point.vertical_accuracy}})<hr>" +
              '{{point.gps_date_time|date:"c"}}<br>' +
              new Date('{{point.gps_date_time|date:"c"}}') + '<hr>'
              {% if point.speed %}
              + {{point.speed}}.toFixed(2) 
              {% if point.speed_accuracy %}
              + " (" + {{point.speed_accuracy}}.toFixed(2) + ")" 
              {% endif %} 
              + " m/s " + ({{point.speed}} * 3.6).toFixed(2) + " km/h <br>"
              {% endif %} 
              {% if point.bearing %}
              + "{{point.bearing}} ({{point.bearing_accuracy}}) &deg;"
              {% endif %}
              , 
            }),
            {% endfor %}
          ],
        }),
        style: {
          'circle-radius': 4,
          'circle-fill-color': 'green',
        },
      });

      const fusedmarker = new ol.layer.Vector({  
        source: new ol.source.Vector({
          features: [ 
            {% for point in fusedpoints %}
            new ol.Feature({            
              geometry: new ol.geom.Point(ol.proj.fromLonLat([ {{ point.lon }} , {{ point.lat }} ])),
              name: "{{point.provider}} ({{point.accuracy}})<br>lon: {{point.lon}} lat: {{point.lat}}<br>" + 
              "alt: {{point.alt}} ({{point.vertical_accuracy}})<hr>" +
              '{{point.gps_date_time|date:"c"}}<br>' +
              new Date('{{point.gps_date_time|date:"c"}}') + '<hr>'
              {% if point.speed %}
              + {{point.speed}}.toFixed(2) 
              {% if point.speed_accuracy %}
              + " (" + {{point.speed_accuracy}}.toFixed(2) + ")" 
              {% endif %} 
              + " m/s " + ({{point.speed}} * 3.6).toFixed(2) + " km/h <br>"
              {% endif %} 
              {% if point.bearing %}
              + "{{point.bearing}} ({{point.bearing_accuracy}}) &deg;"
              {% endif %}
              , 
            }),
            {% endfor %}
          ],
        }),
        style: {
          'circle-radius': 4,
          'circle-fill-color': 'red',
        },
      });



      const highlightStyle = new ol.style.Style({
  //fill: new ol.style.Fill({
  //  color: '#EEE',
  //}),
        stroke: new ol.style.Stroke({
          color: 'indigo',
          width: 2,
          lineDash: [ 4, 10 ],
        }),
      });

      var coordinates = [
      {% for point in full_path %}
      ol.proj.fromLonLat([ {{ point.lon }}  , {{ point.lat }} ]),
      //ol.proj.fromLonLat([ 38 , 56 ]),
      //ol.proj.fromLonLat([ 39 , 55 ]),
      //[ 37 , 55 ],
      //[ 38 , 56 ],
      {% endfor %}

      ];

      var layerLines = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: [
            new ol.Feature({
              geometry: new ol.geom.LineString(
                coordinates
              ),
              //name: 'Line'
            })
          ]
        }),
        style: highlightStyle,
      });
      map.addLayer(layerLines);
      map.addLayer(endIconVectorLayer);
      map.addLayer(fusedmarker);
      map.addLayer(netwokmarker);
      map.addLayer(gpsmarker);
      const element = document.getElementById('popup');
      const popup = new ol.Overlay({
        element: element,
        positioning: 'bottom-center',
        stopEvent: false,
      });
      map.addOverlay(popup);

      let popover;
      function disposePopover() {
        if (popover) {
          popover.dispose();
          popover = undefined;
        }
      }

      // display popup on click

      map.on('click', function (evt) {
        const feature = map.forEachFeatureAtPixel(evt.pixel, function (feature) {
          return feature;
        });
        disposePopover();
        if (!feature) {
          return;
        }
        if (feature.get('name') == undefined){
          return;
        }
        popup.setPosition(evt.coordinate);
        popover = new bootstrap.Popover(element, {
          placement: 'top',
          html: true,
          content: feature.get('name') ,
        });
        popover.show();
      });

      // change mouse cursor when over marker
      map.on('pointermove', function (e) {
        const feature = map.forEachFeatureAtPixel(e.pixel, function (feature) {
          return feature;
        });

        const pixel = map.getEventPixel(e.originalEvent);
        const hit = map.hasFeatureAtPixel(pixel);
        map.getTargetElement().style.cursor = ( hit && ( feature.get('name') != undefined ) ) ? 'pointer' : '';
        //map.getTargetElement().style.cursor = ( feature.get('name') != undefined ) ? 'pointer' : '';
      });
      // Close the popup when the map is moved
      map.on('movestart', disposePopover);


    </script>
  </body>
</html>
